@import 'tailwindcss';

@font-face {
  font-family: 'MyFont';
  src: url('/fonts/ShadowsIntoLight-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'MyFont-2';
  src: url('/fonts/PlaywriteNZBasic-VariableFont_wght.ttf');
  font-weight: 400;
  font-style: normal;
}

:root {
  font-family: myFont-2;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  overflow-x: hidden;
  overflow-y: scroll;
  scroll-behavior: smooth;
}
